
/*Gloabl styles*/

body {
    font-family: 'Open Sans';
    font-weight: 300;
    background: #FAFAFA;
    overflow-x: hidden;
}

p {
    line-height: 30px;
    font-size: 16px;
}

a {
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.topFix {
    top: -100px;
    position: relative;
}


h1 {
    font-family: Raleway;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 55px;
    border-right: 20px solid #b4181d;
    display: inline-block;
    padding-right: 15px;
}

h2 {
    font-family: Raleway;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 23px;
}

h3 {
    font-weight: 500;
}

.headlineBox {
    overflow: hidden;
    position: relative;
    display: table;
}

.headline {
    float: left;
}

    .headline h1 {
        margin: 0px;
    }

.subHeading {
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    height: 100%;
    overflow: hidden;
    padding-left: 15px;
}


.btn {
    padding: 10px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.btn-red, .btn-red:focus, .btn-red:active {
    color: #fff;
    background: #9e191e;
    font-family: 'Open Sans';
    font-size: 18px;
    min-width: 230px;
    text-align: center;
    text-transform: uppercase;
}

    .btn-red:hover {
        background: #930e0f;
        color: #fff;
    }

.btn-white, .btn-white:focus, .btn-white:active {
    color: #1c1c1b !Important;
    background: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    min-width: 230px;
    text-align: center;
    text-transform: uppercase;
}

    .btn-white:hover {
        background: #343434;
        color: #fff !important;
    }

.btn-trans, .btn-trans:focus, .btn-trans:active {
    color: #1c1c1b;
    background: transparent;
    border: 2px solid #b4181d;
    font-family: 'Open Sans';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

    .btn-trans:hover {
        background: #b4181d;
        color: #fff;
    }

.narrow {
    width: auto;
}

.bgWhite {
    background: #fff;
}

.top50 {
    margin-top: 50px;
}

.bottom15 {
    margin-bottom: 15px;
}

.noPadding {
    padding: 0px;
}

/* Hex styles*/
.hex {
    position: relative;
    width: 100px;
    height: 61px;
    border-radius: 7px;
    margin: 30px auto 50px auto;
}

    .hex:before,
    .hex:after {
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background: inherit;
        content: '';
        margin-left: -1px;
    }

    .hex,
    .hex:before,
    .hex:after {
        border-left: 2px solid #9e191e;
        border-right: 2px solid #9e191e;
    }

        .hex:before {
            -webkit-transform: rotate(60deg);
            -moz-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
            -o-transform: rotate(60deg);
            transform: rotate(60deg);
        }

        .hex:after {
            -webkit-transform: rotate(-60deg);
            -moz-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
            -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
        }

        .hex.hex-margin {
            margin-bottom: 60px;
        }

/* Header styles */
.pageHeader {
	background-size: cover !important;
    margin-bottom: 0px;
    height: 450px;
    position: relative;
}

pageHeader-inner {
    background-color: rgba(0,0,0,.4);
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 450px;
}

/* Content hex */
.content-icon-hex {
    width: 118px;
    height: 72px;
    border-radius: 7px;
    background: #9e191e;
    margin: 30px 30px 40px 0;
}

.content-icon {
    color: #ffffff;
    font-size: 2.25em;
    line-height: 72px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.content-icon img{
display: initial !important;}

.hex-list {
}

    .hex-list .hex {
        position: absolute;
        left: 0px;
    }

    .hex-list h2 {
        padding-left: 145px;
        font-weight: 700;
    }

    .hex-list p {
        font-size: 16px;
        padding-left: 145px;
        line-height: 27px;
    }

.hext-listWrap {
    position: relative;
    margin-bottom: 40px;
}


/*Scroll to top*/
#scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 40px;
    cursor: pointer;
    display: none;
    opacity: .7;
    z-index: 99999;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

    #scroll-to-top:hover {
        opacity: 1;
    }

    #scroll-to-top span {
        color: #ffffff;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        z-index: 1;
        font-size: 20px;
        padding-left: 2px;
        padding-top: 2px;
    }

.hex.scroll-top {
    width: 45px;
    height: 29px;
    margin-bottom: 5px;
    background-color: #9e191e;
}

    .hex.scroll-top:after,
    .hex.scroll-top:before {
        margin-left: -2px;
        background-color: #9e191e;
    }

/*Menu styles*/
.menuWrap {
    position: absolute;
    top: 0px;
    z-index: 99999;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    background: transparent;
    max-width: 950px;
    overflow: hidden;
    height: 155px;
    top: -25px;
}

.menu {
    background: #B5060C;
    -webkit-transform: rotate(-3deg) scale(1.1,1);
    -mox-transform: rotate(-3deg) scale(1.1,1);
    -ms-transform: rotate(-3deg) scale(1.1,1);
    -o-transform: rotate(-3deg) scale(1.1,1);
    transform: rotate(-3deg) scale(1.1,1);
    height: 130px;
    padding: 15px 0px;
    display: table-cell;
    vertical-align: bottom;
    width: 950px;
    position: relative;
}

    .menu img {
        position: absolute;
        left: 40px;
        bottom: 15px;
    }

    .menu ul {
        position: absolute;
        right: 40px;
        bottom: 0px;
        list-style: none;
        padding: 0px;
    }

        .menu ul li {
            float: left;
            margin-left: 15px;
        }

            .menu ul li a {
                color: #fff;
                font-family: Raleway;
                font-size: 15px;
                font-weight: 600;
            }

                .menu ul li a:hover {
                    text-decoration: none;
                    color: #1c1c1b;
                }

/*Sidebar styles*/
.sidebarNav{
background:#b4181d;
color: #fff;}

.sidebarNav h2{
padding: 0 15px;
}

.sidebarNav a{
	color: #fff;
}

.sidebarNav a:hover{
	color: #333;
}

/*Angle styles*/

.angle {
    position: relative;
    background: #FAFAFA;
    margin-bottom: 70px;
}

.top-angle, .bottom-angle {
    position: absolute;
    width: 100%;
    left: 0;
    height: 151px;
    overflow: hidden;
    z-index: 2;
}

    .top-angle:before, .bottom-angle:before {
        content: "";
        width: 100%;
        height: 150px;
        background: #FAFAFA;
        position: absolute;
        left: 0;
        top: 75px;
        -webkit-transform: rotate(-3deg) skew(-3deg) scale(1.1,1);
        -mox-transform: rotate(-3deg) skew(-3deg) scale(1.1,1);
        -ms-transform: rotate(-3deg) skew(-3deg) scale(1.1,1);
        -o-transform: rotate(-3deg) skew(-3deg) scale(1.1,1);
        transform: rotate(-3deg) skew(-3deg) scale(1.1,1);
    }

.top-angle {
    top: -150px;
}

    .top-angle::before {
        border-top: 2px solid #c51b1c;
    }

.bottom-angle {
    bottom: -163px;
    height: 150px;
}

    .bottom-angle:before {
        top: -50px;
        border-bottom: 2px solid #c51b1c;
    }

/* Page breaker styles */
.pageBreaker {
	background-size: cover !important;
    overflow: hidden;
    margin-top: -10px;
}

.pageBreakerContent {
    padding: 150px 0;
    max-width: 1160px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.breakerHeadline {
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    position: relative;
    display: block;
    margin-bottom: 45px;
    text-transform: uppercase;
}

    .breakerHeadline::after {
        content: "";
        background-color: #b4181d;
        position: absolute;
        bottom: -25px;
        left: 50%;
        margin-left: -25px;
        height: 4px;
        width: 50px;
    }

.breakerText {
    font-family: Raleway;
    font-weight: 100;
    font-size: 35px;
}


/*Carousel styles*/
.carousel {
    background: url(/images/banner/banner1.jpg) 50% 0 no-repeat fixed;
    margin-bottom: 0px;
}

    .carousel .btn-red {
        padding: 10px 0px;
    }


.carousel-control.left, .carousel-control.right {
    background: transparent;
}

.carousel-indicators {
    bottom: 125px;
    right: 20px;
    left: initial;
    width: auto;
}

    .carousel-indicators li {
        display: list-item;
        margin-bottom: 5px !important;
    }

    .carousel-indicators .active {
        background: initial;
        border: 1px solid #c51b1c;
        height: 10px;
        width: 10px;
        margin: 1px;
    }

.carousel-caption {
    right: 20%;
    left: auto;
    top: 25%;
    max-width: 535px;
    text-align: right;
}

    .carousel-caption h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 55px;
        line-height: 67px;
        border-right: none;
        display: block;
        padding-right: initial;
    }

.carousel-control:hover .glyphicon-chevron-right,
.carousel-control:hover .glyphicon-chevron-left {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=60);
    outline: 0;
    opacity: .6;
    background: #c51b1c;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 20px;
}

.carousel-control .glyphicon-chevron-right {
    right: 0%;
    padding: 15px 15px 15px 20px;
    margin-right: 0px;
    background: #2a2a2b;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
    width: auto;
    height: auto;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.carousel-control .glyphicon-chevron-left {
    left: 0%;
    padding: 15px 15px 15px 20px;
    margin-left: 0px;
    background: #2a2a2b;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
    width: auto;
    height: auto;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Front info boxes*/
.frontInfoBoxes {
    margin: 0 auto;
    top: -180px;
    max-width: 1137px;
    position: relative;
    z-index: 50;
    color: #fff;
    height: 100%;
}

.frontBox1 {
    background: #b4181d;
}

.frontBox2 {
    background: #8c181b;
}


.frontBox3 {
    background: #474846;
}

.ccm-custom-style-billedebox1{
background-size: cover;
}


.frontBox4 {
    background: #474846;
}

.frontIcon {
    min-height: 45px;
    position: relative;
    margin-top: 35px;
}

    .frontIcon img {
        position: absolute;
        bottom: 0px;
        height: 44px;
		width: auto !important;
    }

.frontInfoBoxes .boxHeading {
    font-family: Raleway;
    font-weight: 100;
    font-size: 34px;
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
}

.frontInfoBoxes .boxText {
    font-size: 22px;
    line-height: 27px;
}

.frontInfoBoxes .btn {
    font-weight: 400;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.box4Triangle {
    color: #474846;
    font-size: 53px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 31px 0 0 -35px;
    overflow: hidden;
    height: 65px;
    width: 38px;
    display: block;
    line-height: 1;
}

/* Footer styles */
.footer {
    min-height: 100px;
    background: #1B1B1B;
    color: #767676;
    text-align: center;
    width: 100%;
    line-height: 100px;
}

    .footer .footerWrap {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer .leftText {
        display: inline-block;
        float: left;
    }

    .footer img {
        display: inline-block;
        padding: 0 40px;
    }

    .footer .rightText {
        display: inline-block;
        float: right;
    }

    .footer a {
        color: #fff;
    }

/* Medlemmer styles*/
.members {
    margin-top: 25px;
    margin-bottom: 40px;
}

    .members img {
        margin-bottom: 15px;
        max-width: 100%;
    }
	
/*Presse styles*/
.pressMessage{
}

.pressMessage img{
margin-right: 10px;
}

.pressMessage span {
color:#B5060C; 
font-weight: bold;
padding-right: 15px;
}


.pressArchiv{
}

.pressArchiv img{
margin-right: 10px;
}

.pressArchiv span {
color:#B5060C; 
font-weight: bold;
padding-right: 15px;
}

.pressArchiv a, .pressArchiv a:hover{
color: #333;
text-decoration: none;
}


/* Kontakt styles */

.contactInfo {
    font-size: 17px;
    font-weight: 600;
}

    .contactInfo span {
        margin-right: 25px;
        margin-bottom: 15px;
    }

.contact-form .input-container {
    background-color: #ffffff;
    position: relative;
}

.form-control, .form-control:focus {
    border-radius: 0;
    border-color: #e5e5e5;
    outline-style: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.form-control {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid #d9d9d9;
    position: relative;
    background-color: transparent;
}

.contact-form .form-control:focus {
    border-color: #b4181d;
}

.contact-form .input-container:before {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #d9d9d9;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.boardMember {
    text-align: center;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    padding: 20px;
}

    .boardMember::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #b4181d;
        opacity: 0;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

    .boardMember:hover {
        background-color: #ecf0f1;
        cursor: pointer;
    }

        .boardMember:hover::before {
            opacity: 1;
        }

    .boardMember img {
        width: 100%;
        height: auto;
        border-radius: 100%;
    }

    .boardMember h3 {
        color: #0d0d0d;
        font-size: 23px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .boardMember h4 {
        color: #737373;
        font-size: 16px;
        margin-bottom: 30px;
        position: relative;
    }

        .boardMember h4::after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 50%;
            width: 20px;
            height: 4px;
            margin-left: -10px;
            background-color: #cccccc;
        }

    .boardMember p {
        line-height: 30px;
        font-size: 16px;
        margin-bottom: 20px;
    }


/* Laptop styles */
@media (min-width: 1200px) and (max-width: 1800px) {
    .carousel {
        height: 750px;
    }

    .top-angle {
        top: -150px;
    }

    .carousel-caption {
        top: 15%;
    }
}

/* Footer special style*/
@media (min-width: 631px) and (max-width: 1031px) {
    .footer {
        line-height: 50px;
        text-align: left;
        position: relative;
    }

        .footer .footerWrap::after {
            content: '';
            display: block;
            clear: both;
        }

        .footer .leftText {
            display: block;
            float: right;
            margin-right: 20px;
        }

        .footer img {
            float: left;
            margin-top: 20px;
        }

        .footer .rightText {
            float: right;
            margin-right: 20px;
        }
}

@media (max-width: 630px) {
    .footer {
        line-height: 22px;
        text-align: left;
        position: relative;
    }

        .footer .footerWrap {
            text-align: center;
        }

            .footer .footerWrap::after {
                content: '';
                display: block;
                clear: both;
            }

        .footer .leftText {
            display: block;
            float: none;
            margin-bottom: 15px;
        }

        .footer img {
            float: none;
            margin-top: 20px;
        }

        .footer .rightText {
            display: block;
            float: none;
        }
}

/*User menu*/
.userMenu{
position: absolute; top: 35px;right: 10px; color: #fff;z-index: 999;
}

.userMenu a{
color: #fff;}